<!DOCTYPE html>
<html lang="en">

{{> head}}

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main">
        <form action="/admin/staffEdit/doEditStaff" method="post" class="form" enctype="multipart/form-data">
            <h3 class="heading">Staff Edit</h3>
            <div class="spacer"></div>
            
            <input name="id" value="{{editStaff._id}}" type="hidden">

            <div class="form-group">
                <label class="form-label">Full Name</label>
                <input name="txtName" value="{{editStaff.fullname}}" type="text" placeholder="Ex: Nguyễn Hải Long" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">Email</label>
                <input name="txtEmail" value="{{editStaff.email}}" type="email" placeholder="Ex: username@admin" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">Role</label>
                <input name="txtRole" placeholder="Staff" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label class="form-label">Age</label>
                <input name="txtAge" value="{{editStaff.age}}" type="number" placeholder="Ex: 20" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">Address</label>
                <input name="txtAddress" value="{{editStaff.address}}" type="text" placeholder="Ex: Ha Noi" class="form-control">
            </div>
            <div class="form-group">
                    <img src="../{{editStaff.image}}" alt="">
                    <label class="form-label" for="image">Upload image</label>
                    <input type="file" name="image" value="" class="form-control text-14">      
            </div>
            <input type="submit" class="form-submit bg-success" value="Save">
            <a href="/admin/staffManagement">
                <input  class="form-submit bg-danger" value="Cancel" style="text-align: center;">
            </a>
        </form>
    </div>
</body>

</html>