
<div class="container-fluid">
    <a href="#" class="navbar-brand">FPT.co</a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarExample01">
        <div class="mx-auto"></div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
                <a class="nav-link text-white" aria-current="page" href="/trainee">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">About</a>

            </li>
            <li class="nav-item dropdown">
                <a id="navbarDropdownMenuLink" class="nav-link text-white" href="#" role="button"
                    data-mdb-toggle="dropdown" aria-expanded="false">
                    My Courses
                </a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {{#each  listclassForTrainee as | classroom |}}
                    {{!-- <li>{{this.name}}</li> --}}
                    {{#each this.listCourseForTrainee}}
                    <li>
                        <a class="dropdown-item"
                            href="/trainee/traineeViewCourse?id={{classroom._id}}">{{classroom.name}} - {{this.name}} -
                            {{this.trainer.fullname}}</a>
                    </li>
                    {{/each}}
                    {{/each}}

                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/trainee/coursesCategories">Courses Categories</a>
            </li>
        </ul>
        <span class="mr-6 text-white">Trainee</span>
        <!-- Avatar -->
        <a class="dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button"
            data-mdb-toggle="dropdown" aria-expanded="false">
            <img src="../{{profileTrainee.image}}" class="rounded-circle" height="25" alt="Error!" loading="lazy" />
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li>
                <a class="dropdown-item" href="/trainee/traineeProfile?id={{_id}}">My profile</a>
            </li>
            <li>
                <a class="dropdown-item" href="/">Logout</a>
            </li>
        </ul>
    </div>
</div>
